body::before {
    display: block;
    content: '';
    height: 60px;
}

.twitter-icon:hover {
    color: #4ab3f4 !important;
}
.telegram-icon:hover {
    color: #339fd6 !important;
}
.linkedin-icon:hover {
    color: #0076b2 !important;
}
.github-icon:hover {
    color: rgb(115, 115, 115) !important;
}

@media (min-width: 768px) {
    .news-input {
        width: 50% !important;
    }
}